.ReservBlock {
    width: 110%;
    height: 620px;
    margin-left: -5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: var(--blanch);
    // border: solid 2px white;
    .contentReserv {
        width: 85%;
        height: 90%;
        border-radius: 10px;
        background: var(--body-bg);
        overflow: hidden;
        display: flex;
        flex-direction: column;

        // border: solid 2px white;
        .NavTop {
            width: 100%;
            height: 17%;
            border-bottom: solid 2px rgb(129, 129, 129);
            padding: 36px 20px 10px 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            h1 {
                font-size: 2rem;
                font-weight: normal;
                display: flex;
                align-items: center;

                .Calendar {
                    margin-left: 5px;
                    font-size: 1.5rem;
                }
            }
            span{
                font-size: 1.5rem;
                font-weight: normal;
            }
        }

        .NavBottom {
            width: 100%;
            height: 83%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            .NavLeft {
                width: 45%;
                height: 100%;
                // border: solid 2px white;

                .inputCarat {
                    width: 100%;
                    height: 30%;
                    // border: solid 2px white;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding-left: 20%;
                    label{
                        font-size: 1.2rem;
                        color: #828685;
                    }
                    .input{
                        width: 80%;
                        height: 40%;
                        border-radius: 10px;
                        margin-top: 3%;
                        background: var(--body-color);
                        color: #60696d;
                        font-size: 1rem;
                        padding-left: 4%;
                        border: none;
                        outline: none;
                    }
                }
            }

            .NavRight {
                width: 55%;
                height: 100%;
                // border: solid 2px white;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                .imgCar {
                    width: 70%;
                    height: 60%;
                    // border: solid 2px white;
                    border-radius: 20px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 120%;
                        
                    }
                }
                .btn{
                    width: 70%;
                    height: 50px;
                    background: var(--color-principal);
                    border: none;
                    border-radius: 10px;
                    color: white;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
