.style__switcher{
    position: fixed;
    right: 0px;
    top: 20%;
    background-color: var(--text-color);
    width: 190px;
    padding: 15px;
    box-shadow: 0 0 4px hsl(0, 0%, 80%);
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.3s ease;
    &, .style__switcher-toggler, .dark__toggler{
        border-radius:15px 0px 0px 15px;
    }
    &-items{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 4px;
        row-gap: 8px;
    }
    &, .style__switcher-toggler, .dark__toggler, .style__switcher-close{
        color: var(--color-principal);
        &::before{
            inset-block: -2px;
        }
    }

    &-title{
        font-size: var(--small-font-size);
        font-weight: var(--weight-600);
        border-bottom: 1px solid hsl(0, 0%, 87%);
        padding-bottom: 5px;
        margin-bottom: 15px;
    }
    &-toggler, .dark__toggler{
        position: absolute;
        right: 100%;
        background-color: var(--text-color);
        height: 50px;
        width: 50px;
        font-size: var(--large-font-size);
        cursor: pointer;
        display: grid;
        place-items: center;
        box-shadow: 0 0 2px hsl(0, 0%, 80%);
        transition: all 0.1s ease;
    }
    &-toggler{
        top: 10%;
    }
    &-close{
        cursor: pointer;
        font-size: 40px;
        position: absolute;
        top: -9%;
        right: 12px;
        color: var(--color-principal);
    }
    .dark__toggler{
        bottom: 10%;
    }
}
.show-switcher{
    transform: translateX(0);
}

.theme__img{
    width: 22px;
    border-radius: 60px 0px 60px 60px;
    cursor: pointer;
    margin: 3px;
}

.show-switcher .style__switcher-toggler, .show-switcher .dark__toggler{
    right: -100%;
}



