.facture{
    background-color: var(--body-bg);
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid var(--color-principal);
    color: var(--blanch);
    margin-bottom: 100px;
    .subheader{
        background-color: var(--color-principal);
        border-radius: 20px;
        height: 5vh;
    }
    .header{
        
        height: 40%;
        .left{
            margin: 0 10% 0 10%;
            .titre{
                color: var(--blanch);
                h1{
                    border-bottom: 2px solid var(--color-principal);
                    margin-bottom: 50px;
                    font-size: 70px;
                    font-weight: 700;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                }
            }
        }
        .right{
            margin: 0 10% 0 10%;
            .logo{
                border-radius: 50%;
                width: 100%;
                
                object-fit: cover;
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
                color: var(--color-principal);
                .icon_logo {
                    background: #181e22c7;
                    color: white;
                    font-size: 4rem;
                    border-radius: 20px;
                    padding: 10px 10px 10px 10px;
                    border-bottom-right-radius: 10%;
                }
            

            }
            .vehicule__info{
                .facture__numero{
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
            }
        }
    }
    li{
        list-style: none;
    }
    .contents{
        &__one{
            display: flex;
            width: 100%;
            margin:5% 0% 5% 0%;
            justify-content: space-around;
            border-bottom: 2px solid var(--color-principal);
            li{
                display: flex;
                justify-content: space-between;
                margin: 0 0% 0 0%;
                h3{
                    color: var(--color-principal);   
                }
                p{
                    position: relative;
                    left: 5%;
                    top: 0;
                }
            }
        }
        &__two{
            margin: 0 5% 0 5%;
            text-align: center;
            h1{
                color: var(--color-principal);
                border-bottom: 2px solid var(--color-principal);
            }
            table{
                border: solid;
                width: 100%;
                border-radius: 50px;
                thead{
                    border: 2px solid wheat;
                    font-size: 20px;
                    font-weight: 400;
                    background: var(--color-principal);
                    th{
                        border: 2px solid var(--color-principal);
                    }
                }
                tbody{
                    td{
                        border: 2px solid var(--color-principal);
                    }
                }
                tfoot{
                    border-top: 2px solid var(--color-principal);
                    border-left: 2px solid var(--color-principal);
                }
            }
        }
        &__free{
            border-top: 2px solid var(--color-principal);
            text-align: center;
            justify-content: space-around;
            margin: 5% 0 5% 0;
            h1{
                color: var(--color-principal);
            }
            form{
                justify-content: space-between;
                display: flex;
                margin: 0 15% 0 15%;
                .input{
                    border-radius: 25px;
                    font-size: 100px;
                    width: 70px;
                    &.active{
                        background-color: var(--color-principal);
                    }
                }
            }
        }
        
    }
    .qr__code {
        h1 {
            text-align: center;
            color: var(--color-principal);
        }
        .qr {
            display: flex;
            justify-content: center;  
            align-items: center;  
            width: 200px;
            height: 200px;
            margin: 0 auto;
            .QRCODE {
                width: 100%;
                height: 100%;
            }
        }
    }
}