@import './function.scss';
@import './variable.scss';

.content-dash {
    width: 100%;
    height: auto;

    .dash__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(4, 2fr);
        gap: 2%;
        width: 100%;
        padding: 2% 0 0 0;

        .single__car {
            padding: 3% 3% 3% 3%;
            margin: 0 0 2% 0;
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 0 0 15px 15px;
            cursor: pointer;
            color: var(--blanch);

            &:nth-child(1) {
                background: var(--card-01-bg);
                border-top: 5px solid rgb(130, 5, 161);
            }

            &:nth-child(2) {
                border-top: 5px solid rgb(255, 251, 0);
                background: var(--card-02-bg);
            }

            &:nth-child(3) {
                border-top: 5px solid rgb(255, 251, 0);
                background: var(--card-03-bg);
            }

            &:nth-child(4) {
                border-top: 5px solid rgb(0, 255, 213);
                background: var(--card-04-bg);
            }

            .card__content {

                h4 {
                    color: (--heading-color);
                    @include njrfont(1.4rem, 400);
                }

                span {
                    color: var(--heading-color);
                    @include njrfont(2rem, 100);
                }
            }

            .card__icon {
                @include njrfont(3rem, 400 !important);
                color: rgba(255, 255, 255, 0.845);
            }

        }
    }

    .statics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        margin-top: 2rem;

        .statiq {
            display: flex;
        }

        .stats {
            width: 100%;
            background: var(--body-bg);
            padding: 5% 10% 20% 10%;
            border-radius: 15px;
            height: 320px;

            .stats__titre {
                color: #fff;
                @include njrfont(1.2rem, 500);
                margin-bottom: 20px;
            }

            .tooltip__style {
                background: var(--body-color) !important;
                color: var(--color-principal);
            }
        }
    }

    .recommend__car {
        border-radius: 25px;

        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 2rem;
            column-gap: 2rem;
            @include taille(100%, auto);
            justify-content: space-around;
        }

        &-card {
            padding: 22px;
            align-items: center;
            border-radius: 25px;
            width: 100%;
            cursor: pointer;

            &:nth-child(1) {
                background: var(--recommend-car01-bg);
            }

            &:nth-child(2) {
                background: var(--recommend-car02-bg);
            }

            &:nth-child(3) {
                background: var(--recommend-car03-bg);
            }
        }

        &-img img {
            object-fit: cover;
            width: 35rem;
            padding: 20px;
        }

        &-top h5 {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            color: var(--body-bg);
            margin-bottom: 10px;

            span i {
                font-size: 1.2rem;
            }
        }

        &-bottom h4 {
            font-size: 1.3rem;
            margin: 20px 0px;
            color: var(--body-bg);
        }

        &-other {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-icons {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            color: var(--body-bg);

            p:nth-child(1) {
                display: flex;
            }
        }

    }

    .swiper {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .autoplay-progress {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 10;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 4px;
        stroke: var(--swiper-theme-color);
        fill: none;
        stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
    }
}