
$header:header;


$w:width;
$h:height;

$colred:rgba(255, 0, 0, 0.545);
$bg:background;
$bgimg:background-image;
$bgcol:background-color;

$brd:border;
$ls:list-style;
$b-rad:border-radius;
$b-col:border-color;
$b-left:border-left;
// display
$pos:position;
$dp:display;

$fd:flex-direction;
$mg:margin;
$ta:text-align;

$al:align-items;
$l:left;
$r:right;

// propriete text
$fz:font-size;
$fw:font-weight;
$famil:font-family;
$col:color;

// transformation
$tfr:transform;
$of:overflow;

//outile effet
$bx-sd:box-shadow;
$trans:transform;
$btn:#1148a2;
