.contenaire {
    width: 105%;
    height: auto;
    margin-left: -1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // border: solid 2px white;
    flex-wrap: wrap;
    gap: 3%;
    .Error{
        position: absolute;
        top: 0%;
        left : 40%;
        width: auto;
        height: 70px;
        // border: solid 2px white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 5px 0 5px;
        border-radius: 10px;
        background-color: #ffc107e6;
        z-index: 1000;
        transform: translatey(20%);
        transition: 1s;
        p{
            font-size: 1.2rem;
        }
        &.active{
            display: none;
            transition: 1s;
        }
    }
    .ListBlock {
        width: 28%;
        height: 450px;
        // background: #2f363e;
        background: var(--body-bg);

        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 3%;

        .barNav {
            width: 85%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;

            span {
                width: 30px;
                height: 30px;
                font-size: 1.2rem;
                // padding: 0px 2px 2px 2px;
                background: #595233;
                border-radius: 5px;
                cursor: pointer;
                text-align: center;
                justify-content: center;
                display: flex;
                .bar{
                    font-size: 1.5rem;
                }

            }
            .menu {
                position: absolute;
                top: 7.5%;
                left: 45%;
                background-color: rgba(82, 82, 82, 0.911);
                border-radius: 10px;
                padding: 5px;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                z-index: 1000;
              }
              
              button {
                display: block;
                width: 100%;
                border: none;
                border-radius: 5px;
                background: none;
                padding: 10px;
                cursor: pointer;
                text-align: left;
                color: rgb(0, 0, 0);
                display: flex;
                .del{
                    font-size: 1.3rem;
                    margin-right: 5px;
                }
                
                &:hover {
                    background-color: #fbe541b6;
                  }
              }
              
              
              
        }

        h1 {
            font-size: 1.5rem;
            color: var(--blanch);
        }

        h2 {
            font-size: 1rem;
            color: var(--blanch);
        }

        .photoCar {
            width: 90%;
            height: 40%;
            box-shadow: 0 0 1px 0;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
            }
        }

        .aprop {
            width: 100%;
            height: 15%;
            // border: solid 2px white;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            .icon {
                width: 15%;
                height: 85%;
                // border: solid 2px white;
                border-radius: 100%;
                background: #595233;
                display: flex;
                padding-top: 6px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .imgIcon {
                    font-size: 1.2rem;
                    color: var(--color-principal);
                }

                h3 {
                    // color: beige;
                    color: var(--blanch);
                    font-size: 1rem;
                    font-weight: normal;
                }
                &:hover{
                    background: var(--color-principal);
                    transition: 0.5s;
                    .imgIcon {
                        font-size: 1.2rem;
                        // color: #1e1d1c;
                        color: var(--blanch);
                    }
                    h3 {
                        color: rgb(17, 17, 16);
                        font-size: 1rem;
                        font-weight: normal;
                    }
                }
            }

        }

        .btn {
            width: 45%;
            height: 40px;
            border: solid 1px;
            border-color: var(--color-principal);
            border-radius: 10px;
            // background: #2f363e;
            background: var(--body-bg);

            color: var(--blanch);
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                background: var(--color-principal);
                transition: 0.2s;
            }
        }
    }
}