.search-result {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .result_voiture {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .search_voiture {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 2%;
            margin:2% 0 3% 0;
            border-bottom:2px solid black;
            padding: 2% 2% 4% 2%;
            .image-vehi{
                width: 40%;
                height: auto;
                object-fit: cover;
                img{    
                    width: 400px;
                    height: 250px;
                    object-fit: cover;
                    filter: drop-shadow(0 0 5px #828690);
                    border-radius: 10px;
                }
            }

            .desc-vehi{
                width: 100%;
                height: auto;
                h1{
                    color: #ffc107;
                    font-weight: bold;
                }
                .parag{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: left;
                    padding:2% 0 0% 0;
                    position: relative;
                    p{
                        strong{
                            font-size: 2rem;
                            color: #ffc107;
                        }
                        span{
                            position: absolute;
                            margin:10px 0 0 5px;
                        }
                    }
                    
                }
                .descri{
                    p{
                        font-size: 1rem;
                        font-weight: bold;
                        margin:0 0 4% 0;
                    }
                    a{
                        width: 100px;
                        height: 45px;
                        color: white;
                        font-weight: bold;
                        text-decoration: none;
                        background: #ffc107;
                        padding:2% 2% 2% 2%;
                        border-radius: 10px;
                        transition: .2s;
                        cursor: pointer;
                        &:hover{
                            color:#ffc107;
                            background: black;
                        }
                    }
                }
            }

        }
    }

}