.contDetail{
    width: 110%;
    height:620px;
    margin-left: -5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    // border: solid 2px white;
    .blockLeft{
        width: 50%;
        height: 500px;
        border-radius: 10px;
        background: #2f363e;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .boucle{
            width: 100%;
            height: 429px;
            // border: solid 2px white;
            // background-color: #ffc107;
            object-fit: cover;
            margin: 0% 0 0 0;
            img{
                width: 100%;
            }
        }
        
        .swiper-container{
            width: 100%;
            height: 100%;
            border: solid 2px rgb(137, 15, 15);

        }
    }
    .blockRight{
        width: 35%;
        height: 500px;
        border-radius: 10px;
        background: #2f363e;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .IconType{
            width: 95%;
            height: 40px;
            // border: solid 2px white;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-left: 2px;
            padding-right: 10px;
            h1{
                font-size: 1.3rem;
                font-weight: normal;
            }
            .icon{
                width: auto;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .iconImg{
                    font-size: 1.5rem;
                    color: #ffc107;
                }
                h1{
                    font-size: 1.3rem;
                    font-weight: normal;
                    margin-left: 5px;
                }

            }
            
        }
        .btn{
            width: 80%;
            height: 50px;
            background: #ffc107;
            border: none;
            border-radius: 10px;
            color: white;
            font-size: 1.2rem;
            .ico{
                font-size: 1.2rem;
                margin-right: 5px;
            }
        }
    }
}