.contDetail {
    width: 110%;
    height: 750px;
    margin-left: -5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: var(--blanch);
  
    .blockLeft {
      width: 50%;
      height: 500px;
      border-radius: 10px;
      background: var(--body-bg);
      overflow: hidden;
      display: flex;
      flex-direction: column; // Changed to column
      align-items: center;
      justify-content: center;
      position: relative;
  
      .swiper-container, .swiper {
        width: 100%;
        height: 80%; // Adjust height if necessary
      }
  
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
  
        .boucle {
          width: 100%;
          height: 100%;
          overflow: hidden;
  
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
  
      .smallImages {
        display: flex;
        justify-content: center;
        gap: 5px;
        width: 100%;
        padding: 5px;
        background: var(--body-bg); // Optional background
        position: absolute;
        bottom: 0;
        left: 0;
  
        .thumbnailImage {
          width: 60px; // Adjust size as needed
          height: auto;
          cursor: pointer;
          border-radius: 5px; // Optional
        }
      }
    }
  
    .blockRight {
      width: 35%;
      height: 500px;
      border-radius: 10px;
      background: var(--body-bg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  
      .IconType {
        width: 95%;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 2px;
        padding-right: 10px;
  
        h1 {
          font-size: 1.3rem;
          font-weight: normal;
        }
  
        .icon {
          width: auto;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
  
          .iconImg {
            font-size: 1.5rem;
            color: var(--color-principal);
          }
  
          h1 {
            font-size: 1.3rem;
            font-weight: normal;
            margin-left: 5px;
          }
        }
      }
  
      .btn {
        width: 80%;
        height: 50px;
        background: var(--color-principal);
        border: none;
        border-radius: 10px;
        color: var(--blanch);
        font-size: 1.2rem;
  
        .ico {
          font-size: 1.2rem;
          margin-right: 5px;
        }
      }
    }
  }
  