.block {
    .form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--body-bg);
        border-radius: 10px;
        padding: 2% 2% 2% 2%;

        .image-upload {
            width: 100%;
            height: auto;
            transition: 1s;
            background-color: #5c6064;
            padding: 20px 20px 20px 20px;
            border-radius: 4px;

            .dropzone {
                border: 2px dashed #515050;
                height: 200px;
                border-radius: 5px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: #b0b0b0;
                position: relative;

                p {
                    margin: -5% 0 0 0;
                    color: #60696d4e;
                }

                .plus {
                    margin: 2% 0 0 0;
                    position: absolute;
                    font-size: 3rem;
                    color: #60696d4e;
                }

                .barImg {
                    width: 100%;
                    height: 120px;
                    // border: solid 2px white;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    overflow: none;

                    .partImg {
                        width: 12%;
                        height: 150px;
                        border-radius: 10px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: -2% 0 0 1%;

                        .image-container {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;

                            img {
                                width: 120%;
                                object-fit: cover;
                            }

                            .cach {
                                width: 100%;
                                height: 100%;
                                background: #24292da5;
                                position: absolute;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                .check {
                                    font-size: 3rem;
                                    color: #a7a8a9;
                                    position: absolute;
                                    z-index: 2;
                                }
                            }
                        }

                    }
                }
            }

        }
        .upload-error{
            box-shadow: 0 0 4px 0 red;
        }
        .error-photo {
            color: red;
            font-size: 0.8em;
            align-items: center;
            justify-content: center;
            display: flex;

            span {
                color: red;
                font-size: 1.2em;
                align-items: center;
                justify-content: center;
                display: flex;
                margin-right: 2px;
                margin-left: 2px;
            }
        }

        .content_form {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2%;
            margin: 5% 0 1% 0;

            .parti-left {
                width: 50%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                .caracter {
                    width: 100%;
                    height: auto;
                    // border: solid 2px white;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding: 0 0 0 5%;
                    margin: 1% 0 1% 0;

                    label {
                        font-size: 1.2rem;
                        color: var(--label);
                        margin: 1% 0 0 0;
                    }

                    .input {
                        width: 85%;
                        height: 45px;
                        border-radius: 10px;
                        background: var(--body-color);
                        color: var(--text-color);
                        font-size: 1rem;
                        font-weight: bold;
                        border: none;
                        outline: none;
                        padding: 0 0 0 4%;
                    }

                    .input-error {
                        width: 85%;
                        height: 45px;
                        border-radius: 10px;
                        background: var(--body-color);
                        color: var(--text-color);
                        font-size: 1rem;
                        font-weight: bold;
                        outline: none;
                        padding: 0 0 0 4%;
                        box-shadow: 0 0 1px 0 red;
                    }

                    .error-text {
                        color: red;
                        font-size: 0.8em;
                        align-items: center;
                        justify-content: center;
                        display: flex;

                        span {
                            color: red;
                            font-size: 1.2em;
                            align-items: center;
                            justify-content: center;
                            display: flex;
                            margin-right: 2px;
                            margin-left: 2px;
                        }
                    }

                }

            }

            .parti-right {
                width: 50%;
                height: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                .caracter {
                    width: 50%;
                    height: 10%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding-left: 2%;
                    

                    label {
                        font-size: 1.2rem;
                        color: var(--label);
                        margin: 2% 0 0 0;
                    }

                    .input {
                        margin: 2% 0 2% 0;
                        width: 100%;
                        height: 45px;
                        border-radius: 10px;
                        background: var(--body-color);
                        color: var(--text-color);
                        font-size: 1rem;
                        font-weight: bold;
                        padding: 0 0 0 4%;
                        border: none;
                    }

                    .input-error {
                        width: 85%;
                        height: 45px;
                        border-radius: 10px;
                        background: var(--body-color);
                        color: var(--text-color);
                        font-size: 1rem;
                        font-weight: bold;
                        outline: none;
                        padding: 0 0 0 4%;
                        box-shadow: 0 0 1px 0 red;
                    }
                    .error-text {
                        color: red;
                        font-size: 0.8em;
                        align-items: center;
                        justify-content: center;
                        display: flex;

                        span {
                            color: red;
                            font-size: 1.2em;
                            align-items: center;
                            justify-content: center;
                            display: flex;
                            margin-right: 2px;
                            margin-left: 2px;
                        }
                    }


                }

                .desc_car {
                    width: 100%;
                    height: auto;
                    padding: 0 2% 0 2%;

                    label {
                        font-size: 1.2rem;
                        color: var(--label);
                        margin: 2% 0 0 0%;
                    }

                    .desc {
                        width: 101%;
                        height: 100%;
                        border-radius: 10px;
                        background: var(--body-color);
                        color: var(--text-color);
                        font-size: 1rem;
                        font-weight: bold;
                        padding: 1% 0 0 4%;
                        border: none;
                    }

                    .input-error {
                        width: 101%;
                        height: 100%;
                        border-radius: 10px;
                        background: var(--body-color);
                        color: var(--text-color);
                        font-size: 1rem;
                        font-weight: bold;
                        padding: 1% 0 0 4%;
                        // border: solid 0.5px red;
                        box-shadow: 0 0 1px 0 red;
                    }
                    .error-text {
                        color: red;
                        font-size: 0.8em;
                        align-items: center;
                        justify-content: center;
                        display: flex;

                        span {
                            color: red;
                            font-size: 1.2em;
                            align-items: center;
                            justify-content: center;
                            display: flex;
                            margin-right: 2px;
                            margin-left: 2px;
                        }
                    }
                }

                .btn {
                    width: 100%;
                    height: 45px;
                    border-radius: 10px;
                    border: none;
                    background: var(--color-principal);
                    font-size: 1.2rem;
                    color: white;
                    font-weight: bold;
                    transition: 0.2s;
                    margin: 2% 0% 0 2%;

                    &:hover {
                        background: rgba(153, 146, 5, 0.715);
                        transition: 0.2s;
                    }
                }

            }
        }
    }
}