$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #24292D;
$input-border-color: #f7f7f7;
$input-focus-border-color: $primary-color;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--body-bg);
}

.registration-form {
    background-color: var(--body-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;

    input {
        width: 400px;
        height: 50px;
        background-color: #35393d;
    }

    &.error-border {
        border-color: red;
        animation: blink-border 1s ease infinite;
    }


    h2 {
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;

        label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        .photoProfol{
            margin-left: 165px;
        }

        p {
            
                color: #dc3545;
                font-size: 14px;
                margin-top: 5px;
                animation: blink-border 1s ease infinite;
               
        }
        

        

        .linkcar {
            color: black;
            width: 50%;
            height: 100%;
            background: var(--color-principal);
            color: white;
            text-align: center;
            padding: 2% 0 2% 0;
            border-radius: 10px;
            margin: 4% 0 0 0;
        }

        .photo-label {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        .icon {
            font-size: 10rem; // Adjust size as needed
            color: var(--color-principal); // Adjust color as needed
            margin-left: 130px;
        }

        .imgdiv {
            border-radius: 50px;
        }

        .image-preview {
            margin-top: -200px;
            margin-left: 120px;
            max-width: 100%;
            height: auto;
            border-radius: 90px;
            width: 170px;
            height: 170px;
        }

        .form-input {
            display: none;
        }

        .form-control {
            border: 1px solid $input-border-color;
            border-radius: 5px;
            padding: 10px;
            font-size: 16px;
            transition: border-color 0.2s;
            p {
                color: #dc3545;
                font-size: 14px;
                margin-top: 5px;
            }

            &.error-border {
                border-color: red;
                animation: blink-border 1s ease infinite;
            }

            &:focus {
                border-color: $input-focus-border-color;
                box-shadow: none;
            }
        }
    }

    .btn {
        font-size: 16px;
        padding: 10px;
        border-radius: 5px;
        background-color: var(--color-principal);
        border: none;
        color: white;
        font-weight: bold;
        width: 400px;
        height: 50px;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
    
    @keyframes blink-border {
        0% { border-color: red; }
        50% { border-color: transparent; }
        100% { border-color: red; }
    }
}