.user-list {
    padding: 20px;
    background-color: var(--body-bg);
    color: var(--blanch);
    border-radius: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.project-stats {
    margin: 20px 0;
}

.project-stats .btn {
    background-color: var(--color-principal);
    border: none;
    padding: 10px 20px;
    color: #24292D;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.user-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--body-bg);
}
.user-cards {
    flex-direction: row;
}.user-card {
    background-color: var(--body-color);
    border-radius: 8px;
    box-shadow: 0 0 5px black;
    color: var(--blanch);
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%; // Vous pouvez définir une largeur spécifique si nécessaire
    max-width: 400px; // Ajustez la largeur maximale selon vos besoins
    height: auto; // Ajustez la hauteur si nécessaire

    .card-header {
        padding: 15px; // Augmenter le padding pour une meilleure apparence
        border-bottom: 1px solid #333;
    }

    .user-info {
        .card-title {
            font-size: 1.75rem; // Augmenter la taille de la police du titre
            margin-bottom: 10px; // Ajuster la marge
        }

        .card-text {
            margin: 5px 0;
            color: #828690;
        }
    }

    .user-image img {
        width: 100px; // Augmenter la taille de l'image
        height: 100px;
        object-fit: cover;
    }

    .card-body {
        padding: 15px; // Augmenter le padding pour le corps
        color: #828690;

        .card-text {
            display: flex;
            align-items: center;
            margin: 10px 0;

            svg {
                margin-right: 5px;
            }
        }
    }

    &:hover {
        box-shadow: 0 0 10px black;
    }

    .edit-profile,
    .delete-profile {
        position: absolute;
        background-color: rgba(53, 47, 47, 0.9);
        padding: 5px 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: -35px; // Ajuster la marge en fonction de la taille de la carte

        &:hover {
            background-color: var(--color-principal);
        }
    }

    .delete-profile {
        margin-top: -70px; // Ajuster la marge en fonction de la taille de la carte
        &:hover {
            background-color: rgb(214, 36, 36);
        }
    }
}
