.content-fluid{
    width: 100%;
    height: auto;
    color: white;
    position: relative;

    .head_content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        background: #24292D;
    }

    .content{
        width: 87%;
        height: 100%;
        background: #24292D;
        position: absolute;
        right: 0;
        height: auto;
        color: white;
        padding:2% 5% 5% 5%;
        margin: 80px 0 0 0;
        z-index: -1;
    }
}


