:root{
    --color-principal: #ffc107;
    --blanch: #fff;
    --body-bg: #2f363e;
    --color-hover: rgba(98, 98, 5, 0.402);
    --color-text:  #1a1b1d;
    --body-color: #23282c;
    --card-01-bg: linear-gradient(#dfdfdf, #424141);
    --card-02-bg: linear-gradient(#3f3f3f, #878383);
    --card-03-bg: #484754;
    --card-04-bg: #3f3f3f;
    --heading-color: #fff;
    --header-color:#2f363e;
    --small-text-color: #808191;
    --recommend-car01-bg: #e1dfa4;
    --recommend-car02-bg: #e3ecf1;
    --recommend-car03-bg: #f4e3e5;

}
.content-fluid{
    width: 100%;
    height: auto;
    color: white;
    position: relative;
    
    
    .head_content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        background: #24292D;
    }

    .content{
        width: calc(100% - 180px);
        height: 100%;
        background: #24292D;
        position: absolute;
        right: 0;
        height: auto;
        color: white;
        padding:2% 5% 5% 5%;
        margin: 80px 0 0 0;
        z-index: -1;
    }
}


