.contenaireGal {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    // border: solid 2px white;
    flex-wrap: wrap;
    gap: 3%;
    padding: 20px 5px 20px 5px;
    background: var(--body-bg);
    border-radius: 10px;

    h1 {
        color: black;
        font-size: 2.5rem;
        font-weight: bold;
    }

    h2 {
        color: #6c6f6f;
    }

    .BlockGal {
        width: 95%;
        height: auto;
        // border: solid 2px white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2%;

        padding: 20px 5px 20px 5px;

        .BlockImg {
            width: 25%;
            height: 250px;
            // border: solid 2px white;
            margin-top: 1%;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }


}

// .md-content{
//     position: absolute;
//     top: 5%;
//     left: 5%;
//     width: 50%;
// }


.image-modal {
    position: absolute;
    top: 55%;
    left: 56%;
    transform: translate(-50%, -50%);
    background: rgba(56, 56, 56, 0.384);
    border-radius: 10px;

    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1330px;
        height: 650px;
        background: #00000000;

        .content-Modal {
            //   border: solid 2px red;
            width: 65%;
            height: 90%;
            border-radius: 10px;
            overflow: hidden;

        }
    }

    .close-button {
        position: absolute;
        top: 30px;
        right: 80px;
        background: white;
        border: none;
        font-size: 20px;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        cursor: pointer;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

    }

    .prev-button{
        font-size: 2.5rem;
        color: rgba(101, 100, 100, 0.856);
        position: absolute;
        top: 50%;
        right: 95%;
        cursor: pointer;
    }
    .next-button{
        font-size: 2.5rem;
        color: rgba(101, 100, 100, 0.856);
        position: absolute;
        top: 50%;
        right: 1%;
        cursor: pointer;
    }

    .modal-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
}